<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HELPAG lab reverse proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5005/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-HELPAG-Lab" value="Intentionally vulnerable training target" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

